@import "tailwindcss";


@theme inline {
    --font-roboto: var(--font-roboto);
}

@theme {
    --color-custom-light-green: #c7ffcb;
    --color-custom-light-green-2: #8eed93;
    --color-custom-dark-green: #204525;
    --color-custom-light-yellow: #fffab8;
    --color-custom-yellow: #fff454;
}

/* css pro botão de pin do mapa */
.leaflet-control-custom {
    background-color: white;
    border-radius: 4px;
    width: 33.5px;
    height: 33.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-control-custom:hover {
    background-color: #f3f4f6 !important;
    cursor: pointer;
}


.three-part-bg {
    @media (width >= 48rem /* 768px */) {
        background-image: linear-gradient(
            to right,
            #fffab8 20%,  /* Yellow from the start (0%) to 20% */
            white 20%,    /* White from 20% ... */
            white 80%,    /* ... to 80% */
            #fffab8 80%   /* Yellow from 80% to the end (100%) */
        );
    }

}